/*this changed a heading text color to white*/
.h1, h1 {
  color: white;
}

/*this changed another heading text color to white*/
.home-intro {
  color: white;
}

/*this vertically centered the navbar links after the logo made navbar too wide*/
.navbar-nav li a {
  line-height: 35px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: large;
}

/*this horizontally centers the logo on the navbar*/
@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered, 
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -160px;
    }
}

/*this moved the logo up in order to vertically center it on the navbar*/
.navbar-brand-centered>img {
  margin-top: -5px;
}

/*this pushed the left navbar links to the right */
.navbar-left {
  padding-left: 75px;
}

/*this pushed the right navbar links to the left*/
.navbar-right {
  padding-right: 75px;
}

/*This adds padding to links so that you do not have to click directly on the link to select it.*/
a {
  padding: 5px;
}

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

/* padded section */
.pad-section {
  padding: 100px 0;
  font-weight: bold;
}
#deanash {
  display: block;
  margin: 0 auto;
  /*this add rounded corners to the image*/
  border-radius: 25px;
  /*Box-shadow: offset-x | offset-y | blur-radius | spread-radius (0 if not specified) | color*/
  box-shadow: 5px 15px 6px -7px #121212;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

#family {
  padding-bottom: 30px;
}

/* additional sections */
#home {
  background: url(../img/Slide2.jpg) no-repeat center center fixed; 
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#portfolio {
  background: url(../img/Slide.jpg) no-repeat center center fixed; 
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#information .panel {
  opacity: 0.85;
}

#map {
  /*width: 500px;*/
  height: 500px;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}

body {
  padding-top: 65px;
}

#og-grid img {
  /*border-radius: 25px;*/
  border: 2px solid grey;
  bottom: 40px;
}

/*this adds color to the text in the portfolio*/
#portfolio-text {
  color: white;  
}